*{
    box-sizing: border-box;
    font-family: 'Finlandica', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(29, 29, 30);
    
}

.photo{
    display: contents;
    background-color: white;
    width: 10%;
    border-radius: 11%;
    margin: 15px;
    border: 3px solid rgb(3, 165, 98);
}

.identite{
    padding: 15px;
    text-align: center;
    font-size: 70px;
    width: 60%;
    margin: 2px;
    color: rgb(3, 165, 98);
    font-weight: bold;
}

img{
    border: 2px solid yellow;
    height: 100px;
    width: 100px;
}

.navbar{
    border: 5px solid rgb(3, 165, 98);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background-color:white;
    margin-right: 15px;
    font-size: 25px;
    font-weight: bold;
}

.present, .diplome, .formation{
    text-align: center;
    flex-basis: 25%;
}


@media screen and (max-width: 1000px) {
    .identite{
        color: rgb(3, 165, 98);
        width: 800px;
    }

    .present, .diplome, .formation{
        color: rgb(3, 165, 98);
        font-size: 25px;
        font-weight: bold;
    }

    .header{
        flex-wrap: wrap;
        background-image: url(./img/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .photo{
        width: 150px;
        border: 3px solid rgb(3, 165, 98);
        float: left;
    }
    
    .navbar{
        width: 100%;
        margin-bottom: 5px;
        border: 3px solid black;
        background-color: rgb(93, 93, 93);
    }    
}

