*{
    box-sizing: border-box;
}

.container-fluid{
    /* border: 1px solid black;
    background-color: blueviolet; */
}

.menu{
    justify-self: center;
    align-self: center;
}


img{
    width: 70px;
    height: 70px;
}

.logo{
    align-self: center;
    justify-self: center;
}

.parent1 {
    background-color: aqua;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100px;
    align-items: center;
}

.parent2{
    background-color: bisque;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    height: 250px;
}

header{
    /* background-color: brown; */
    display: grid;
    grid-template-columns: 15% 40% 45%;
}

ul{
    list-style-type: none;
    height: 50px;
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: auto auto auto auto;
    align-items: end;
    justify-items: center;
    margin-right: 20px;
}

li a{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 5px;
    border: 2px solid black;
    background-color: grey;
    border-radius: 3px;
    width: 150px;
    color: white;
}

li a.active{
    background-color: orange;
    color: blue;
}

li a:hover:not(.active){
    background-color: blue;
    color: orange;
}

.enfant1{
    border: 1px solid black;
    background-color: chartreuse;
    text-align: center;
    height: 50%;
    width: 50%;
    justify-self: center;    
}

.enfant2{
    border: 1px solid black;
    background-color: cornflowerblue;
    text-align: center;
    height: 50%;
    width: 50%;
    justify-self: center;
}

.identite{
    display: flex;
    justify-content: space-evenly;
}

.infos{

}

.nom{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;   
}

/* @media screen and (max-width: 1000px){
    header{
        display: flex;
        flex-wrap: wrap;
    }
    
} */