table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

th {
    text-align: left;
    font-size: 25px;
    color: chocolate;
    border: 1px solid black;
}

td {
    text-align: center;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}